<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cybertek</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
            crossorigin="anonymous"
    />
    <!-- Container for metadata(is not displayed)
    Title, Styles, Link, Scripts, Meta and other -->
</head>
    <body>
        Welcome to Java Developer Course!!!
        <h1>Hello</h1>
        <h2>Spring Boot</h2>
        <h3 align="center" style="color: blue">Spring Framework</h3>

        <!--IMAGES-->
        <img src="../images/pnclogo.png" alt="PNC Logo">

        <!--LIST-->
        <ul>
            <li>MVC</li>
            <li>ORM</li>
            <li>API</li>
        </ul>

        <!--LINKS-->
        <a href="https://amazon.com">Amazon</a>

        <!--TABLES-->
        <table>
                <tr>
                    <td>Loop</td>
                    <td>Collection</td>
                    <td>Stream</td>
                </tr>
            <tr>
                <td>IOC</td>
                <td>DI</td>
                <td>Value</td>
            </tr>
        </table>

        <!--FORMS-->
        <label>User Name:</label>
        <input type="text" name="username"><br>
        <label>Password:</label>
        <input type="password" name="username"><br>
        <label>Enter your comments:</label>
        <textarea name="comments"></textarea>
        <br>
        <!--radio buttons-->
        <label>Please select your favorite subject</label><br>
        <input type="radio" name="Spring" value="IoC" checked="checked">IoC
        <input type="radio" name="Spring" value="DI" checked="checked">DI
        <input type="radio" name="Spring" value="MVC" checked="checked">MVC
        <br>
        <!--checkbox-->
        <label>Please select your company:</label><br>
        <input type="checkbox" name="company" value="Bank of America">BOA
        <input type="checkbox" name="company" value="PNC">PNC
        <input type="checkbox" name="company" value="Citi">CITI
        <br>
        <!--dropdown-->
        <label>Select your car:</label>
        <select name="CARS">
            <option value="honda">Honda</option>
            <option value="nissan">Nissan</option>
            <option value="bmw">BMW</option>
        </select>
        <br>

        <form action="#" method="get">
            First name:<input type="text" name="First Name"/><br>
            Last name:<input type="text" name="Last Name"/><br>
        </form>

        <div>
            <h3>This is Java Developer Course</h3>
            <ul>
                <li>Spring Framework</li>
                <li>Security</li>
                <li>Unit Testing</li>
            </ul>
        </div>

        <script
                src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"
        ></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"
        ></script>
        <script
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous"
        ></script>
    </body>
</html>